* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

h1 {
  font-size: 3rem;
  color: #333;
}
input[type='text'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid #333;
  border-radius: 5px;
}

article {
  margin-top: 30px;
}
h3 {
  margin-top: 20px;
}
